header {
	background-color:#4CAF50;
	color: #fff;
	padding: 0px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
	text-align: left;
}

th {
	background-color: #4CAF50;
	color: #fff;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #4CAF50;
	color: #fff;
	padding: 20px;
  }
  
  .navbar-logo a {
	font-size: 24px;
	color: #fff;
	text-decoration: none;
  }
  
  .navbar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	margin-right: 3rem;
  }
  
  .navbar-menu li {
	margin-right: 20px;
  }
  
  .navbar-menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
  }
  
  .nav-item:hover
  {
	text-decoration: underline;
  }
  

  .dropbtn {
	background-color:#4CAF50;
	color: white;
	padding: 16px;
	font-size: 20px;
	border: none;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #4CAF50;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #3e8e41;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {text-decoration: underline;}

  .create_exam
  {
	background-color:#4CAF50;
	color: white;
	padding: 16px;
	font-size: 15px;
	border: none;
	margin-bottom: 1rem;
	border-radius: 5%;
  }

  .create_exam:hover
  {
	background-color: #3e8e41;

  }

  .nav-dropdown:hover
  {
	background-color: #3e8e41;
	
  }
